body {
  background-color: white;
  font-size: 130%;
}

p {
text-align : right;
outline-style:solid;
}

h1 {
text-align: center;
}
row {
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua
}